.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .trigger {
    transition: all 0.3s;
    &:hover {
      color: #1890ff;
    }
  }

  .header-rg {
    display: flex;
    align-items: center;
    .header-rg-tip {
      font-weight: bold;
      font-size: 20px;
      margin-right: 40px;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    }
  }
}
